<p>This is a practice site for web programming in Sinatra</p>
<p class="description">If you want more power, please log in. The username is <em>'admin'</em> and the password is <em>'123456'</em>. </p>
<p>Shh... , don't tell anyone.</p>