<center>
<h1>Login</h1>
<% if !@isFirst %>
    <p style="color:red;"><%= @msg %></p>
<% end %>
<form action="/login" method="post">
    username: <input type="text" name="username"><br><br>
    password: <input type="password" name = "password"><br><br>
    <input type="submit" value="login">
<form>
</center>